<!DOCTYPE html>
<html lang="en">

<%- include('partials/header');-%>

<body>

  <!-- Navigation -->
  <%- include('partials/navbar');-%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('<%= bgimage %>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1><%= heading %></h1>
            <span class="subheading"><%= subheading %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%- body %>

  <hr>

  <%- include('partials/footer');-%>

  <%- include('partials/scripts');-%>

</body>

</html>
