<!-- Main Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- Blog Post Content -->
        <div class="blog-content">
          <p><%= content %></p>

          <!-- Likes, Dislikes, and Score -->
          <div class="blog-metadata">
            <span class="likes">Likes: <%= likes %></span>
            <span class="dislikes">Dislikes: <%= dislikes %></span>
            <span class="score">Score: <%= score %></span>
          </div>


        <!--  #increment_trigger_begin -->
          <div class="blog-actions">
            <form action="/posts/incrementLikes/<%= _id %>" method="POST">
              <button type="submit">Like</button>
            </form>
            <form action="/posts/incrementDislikes/<%= _id %>" method="POST">
              <button type="submit">Dislike</button>
            </form>
          </div>
          <!--  #increment_trigger_end -->

          <!--  #delete_trigger_begin -->
          <div class="blog-actions">
            <form id="deleteForm" action="/posts/delete/<%= _id %>" method="POST">
              <!-- Button to trigger the confirmation dialog -->
          <button type="button" id="deleteButton">Delete Post</button>
          </form>
        </div>

          <script>
            document.getElementById('deleteButton').addEventListener('click', function() {
              const confirmation = confirm('Are you sure that you want to delete this blog post?');

              if (confirmation) {
                // If the user confirms, submit the form
                document.getElementById('deleteForm').submit();
              }
            });
          </script>
          <!--  #delete_trigger_end -->
        </div>
      </div>
    </div>
  </div>
</article>
